/*index.css 전역 스타일*/

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  /* 
    순서에 따라서 설정할 수 있음
    사용할 서체명 | 대체 서체명 | sans-serif 또는 serif
    sans-serif : 시스템의 고딕체
    serif : 명조체
  */
  font-family:'맑은 고딕','굴림체',sans-serif;
  font-size: 18px;
  color: #232323;
  background-color: #fff;
}

a{
  text-decoration: none;
}